/* STARTING UNIVERSAL STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 40%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: gray;
  box-sizing: border-box;
  padding: 0;
}

@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

@keyframes leftIn {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  80% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  80% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bottomIn {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  80% {
    transform: translateY(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 2.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }

  65% {
    -webkit-transform: translate(0, 5px);
  }

  to {
    -webkit-transform: translate(0, 0px);
  }
}

@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }

  65% {
    -moz-transform: translate(0, 5px);
  }

  to {
    -moz-transform: translate(0, 0px);
  }
}

.spin {
  animation: App-logo-spin infinite 10s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ending unversal styles */
/* starting landing page styles */
/* starting navbar styles */
.nav {
  display: flex;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 28.75rem) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: rgba(246, 65, 108, 1);
  font-size: 2.3rem;
}

/* ending navbar styles */
/* startiing landing page section */
.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(255, 222, 125, 0.5), rgba(246, 65, 108, 0.5)), url('../img/future-city-min.gif');
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 92vh, 0 100%);
}

@media (max-width: 56.25em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
  }
}

.header__text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.heading-primary--main {
  line-height: 1.3;
  display: block;
  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  animation: leftIn 0.75s ease-out;
}

@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-family: 5rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  animation: rightIn 0.75s ease-out;
  /* backface-visibility: hidden; */
}

@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ffde7d, #f6416c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}

@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  transform: skewX(2deg) skewY(1deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* ending landing page section */
.heading-secondary-sm {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #64495E, #4C5F9A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}

.heading-secondary-sm:hover {
  transform: skewX(2deg) skewY(1deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-fourth {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to left, #64495E, #4C5F9A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  transition: all .2s;
}

.heading-fourth:hover {
  transform: skewX(2deg) skewY(1deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

/* endinfg universal styles */
/* starting about section  */
.section-about {
  background-color: #f7f7f7;
  padding: 15vh 0 25vh 0;
  margin-top: -7vh;
}

@media (max-width: 56.25em) {
  .section-about {
    padding: 20rem 4rem;
  }
}

.about-grid {
  padding: 0 8vw 0 12vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 0vw;
  justify-content: space-evenly;
}

.about-item {
  text-align: center;
}

.tech-cube {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  object-fit: scale-down;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@media (max-width: 768px) {
  .tech-cube {
    margin-top: 10vh;
  }
}

.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube>div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: solid 3px #f6416c;
  background-color:pink; 
}

.front {
  transform: translateZ(100px);
  display: flex;
  align-items: center;
}

.front>img {
  width: 150px;
}

.back {
  transform: translateZ(-100px) rotateY(180deg);
  display: flex;
  align-items: center;
}

.back>img {
  width: 150px;
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.right>img {
  width: 150px;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  display: flex;
  align-items: center;
}

.left>img {
  width: 150px;
}

.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
  display: flex;
  align-items: center;
}

.top>img {
  width: 150px;
}

.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
  display: flex;
  align-items: center;
}

.bottom>img {
  width: 150px;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  animation: rotate 10s infinite linear;
}

/* adding hover effect */
.tech-cube:hover .front {
  transform: translateZ(200px);
}

.tech-cube:hover .back {
  transform: translateZ(-200px) rotateY(180deg);
}

.tech-cube:hover .right {
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.tech-cube:hover .left {
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.tech-cube:hover .top {
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.tech-cube:hover .bottom {
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}

.cube>div {
  transition: transform 0.2s ease-in;
}

/* ending about section */
/* starting skill section */
.section-features {
  height: auto;
  padding: 10vh 0 10vh 0;
  background-image: linear-gradient(to right bottom, rgba(246, 65, 108, 0.4), rgba(255, 222, 125, 0.4)), url(../img/cyberpunk.gif);
  background-size: cover;
  transform: skewY(-3.6deg);
  align-items: center;
}

.skills {
  padding-bottom: 8rem;
  text-align: center !important;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  /* background-image: linear-gradient(to right, #ffde7d, #f6416c); */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  transform: skewY(3.6deg);
}

.grid {
  padding: 0 10vw 0 12vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5vw;
  transform: skewY(3.6deg);
  justify-content: center;
  align-items: center;
}

.grid-item {
  width: 20vw;
}

@media(max-width: 450px) {
  .skills {
    padding-top: -10vh;
  }
}

@media(max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
padding-left: 20vw;
  }

  .grid-item {
    width: 60vw;
  }
}

/* end of skill section */
/* start of project section */
.section-tours {
  margin-top: -20rem;
  background-color: #f7f7f7;
  padding-top: 25rem;
}

@media (max-width: 56.25em) {
  .section-tours {
    padding: 25rem 0 10rem 0;
  }
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
  color: white !important;
  background-color: rgba(246, 65, 108, 1) !important;
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.21);
}

.btn--white {
  background-color: #fff;
  color: rgba(246, 65, 108, 0.8);
}

.btn--animated {
  animation: bottomIn 0.75s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #d5808e;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px #d5808e solid;
  padding: 3px;
}

.btn-text:hover {
  background-color: #64495E;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.21);
  transform: translateY(0px);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform .3s;
}

@media (max-width: 56.25em) {
  .feature-box {
    padding: 1rem;
    margin: 0 4rem;
  }
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right, #f6416c, #ffde7d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}

.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.feature-box * {
  list-style: none;
}

/* Contact section */
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
}

.contact-section-header>h2 {
  font-size: 6rem;
}

@media (max-width: 479px) {
  .contact-section-header>h2 {
    font-size: 4rem;
  }
}

.contact-section-header>p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */
footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background-color: rgba(246, 65, 108, 0.7);
}

footer>p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

.footer-text {
  color: black;
  font-size: 2rem;
}

@media (max-width: 479px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
