@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

/* STARTING UNIVERSAL STYLES */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 40%;
  }

  p {
    font-size: 2rem !important;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: gray;
  box-sizing: border-box;
  padding: 0;
  background-color: white;
}

@media (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

@keyframes leftIn {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }

  80% {
    transform: translateX(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes rightIn {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }

  80% {
    transform: translateX(-0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes bottomIn {
  0% {
    opacity: 0;
    transform: translateY(-5rem);
  }

  80% {
    transform: translateY(0.5rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.floating {
  -webkit-animation-name: Floatingx;
  -webkit-animation-duration: 2.5s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-name: Floating;
  -moz-animation-duration: 2.5s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@-webkit-keyframes Floatingx {
  from {
    -webkit-transform: translate(0, 0px);
  }

  65% {
    -webkit-transform: translate(0, 5px);
  }

  to {
    -webkit-transform: translate(0, 0px);
  }
}

@-moz-keyframes Floating {
  from {
    -moz-transform: translate(0, 0px);
  }

  65% {
    -moz-transform: translate(0, 5px);
  }

  to {
    -moz-transform: translate(0, 0px);
  }
}

.spin {
  animation: App-logo-spin infinite 10s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* ending unversal styles */
/* starting landing page styles */
/* starting navbar styles */
.nav {
  display: flex;
  justify-content: space-evenly;
  top: 0;
  left: 0;
  width: 100%;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 28.75rem) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
  transition: color 0.3s;
}

.nav-list a:hover {
  color: rgba(246, 65, 108, 1);
  font-size: 2.3rem;
}

/* ending navbar styles */
/* startiing landing page section */
.header {
  height: 100vh;
  background-image: linear-gradient(to right bottom, rgba(255, 222, 125, 0.5), rgba(246, 65, 108, 0.5)), url('../img/future-city-min.gif');
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 92vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 92vh, 0 100%);
}

@media (max-width: 56.25em) {
  .header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
  }
}

.header__text-box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.heading-primary--main {
  line-height: 1.3;
  display: block;
  font-size: 6.5rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  animation: leftIn 0.75s ease-out;
}

@media (max-width: 37.5em) {
  .heading-primary--main {
    letter-spacing: 1rem;
    font-family: 5rem;
  }
}

.heading-primary--sub {
  display: block;
  font-size: 2.2rem;
  font-weight: 400;
  letter-spacing: 0.3rem;
  animation: rightIn 0.75s ease-out;
  /* backface-visibility: hidden; */
}

@media (max-width: 37.5em) {
  .heading-primary--sub {
    letter-spacing: 0.5rem;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #ffde7d, #f6416c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}

@media (max-width: 56.25em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

@media (max-width: 37.5em) {
  .heading-secondary {
    font-size: 2.5rem;
  }
}

.heading-secondary:hover {
  transform: skewX(2deg) skewY(1deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

/* ending landing page section */
.heading-secondary-sm {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #64495E, #4C5F9A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}

.heading-secondary-sm:hover {
  transform: skewX(2deg) skewY(1deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-fourth {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to left, #64495E, #4C5F9A);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  transition: all .2s;
}

.heading-fourth:hover {
  transform: skewX(2deg) skewY(1deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

/* endinfg universal styles */
/* starting about section  */
.section-about {
  background-color: #f7f7f7;
  padding: 15vh 0 25vh 0;
  margin-top: -7vh;
}

@media (max-width: 56.25em) {
  .section-about {
    padding: 20rem 4rem;
  }
}

.about-grid {
  padding: 0 8vw 0 12vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-row-gap: 0vw;
  justify-content: space-evenly;
}

.about-item {
  text-align: center;
}

.tech-cube {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  object-fit: scale-down;
  perspective: 1000px;
  perspective-origin: 50% 50%;
}

@media (max-width: 768px) {
  .tech-cube {
    margin-top: 10vh;
  }
}

.cube {
  margin: auto;
  position: relative;
  height: 200px;
  width: 200px;
  transform-style: preserve-3d;
}

.cube>div {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  height: 100%;
  width: 100%;
  border: solid 3px #f6416c;
  background-color: rgba(249, 243, 237, 0.7)
}

.front {
  transform: translateZ(100px);
  display: flex;
  align-items: center;
}

.front>img {
  width: 150px;
}
.left > img{
  height: 70%!important;
}
.back {
  transform: translateZ(-100px) rotateY(180deg);
  display: flex;
  align-items: center;
}

.back>img {
  width: 150px;
}

.right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.right>img {
  width: 150px;
}

.left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  display: flex;
  align-items: center;
}

.left>img {
  width: 150px;
}

.top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
  display: flex;
  align-items: center;
}

.top>img {
  width: 150px;
}

.bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
  display: flex;
  align-items: center;
}

.bottom>img {
  width: 150px;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  animation: rotate 10s infinite linear;
}

/* adding hover effect */
.tech-cube:hover .front {
  transform: translateZ(200px);
}

.tech-cube:hover .back {
  transform: translateZ(-200px) rotateY(180deg);
}

.tech-cube:hover .right {
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.tech-cube:hover .left {
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.tech-cube:hover .top {
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.tech-cube:hover .bottom {
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}

.cube>div {
  transition: transform 0.2s ease-in;
}

/* ending about section */
/* starting skill section */
.section-features {
  height: auto;
  padding: 10vh 0 10vh 0;
  background-image: linear-gradient(to right bottom, rgba(246, 65, 108, 0.4), rgba(255, 222, 125, 0.4)), url(../img/cyberpunk.gif);
  background-size: cover;
  transform: skewY(-3.6deg);
  align-items: center;
}

.skills {
  margin-bottom: 8rem;
  text-align: center !important;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-color: white;
  /* background-image: linear-gradient(to right, #ffde7d, #f6416c); */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
  transform: skewY(3.6deg);
}

.skills:hover {
  transform: skewX(2deg) skewY(5deg);
  text-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.4);
}

.grid {
  padding: 0 10vw 0 12vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5vw;
  transform: skewY(3.6deg);
  justify-content: center;
  align-items: center;
}

.grid-item {
  width: 20vw;
}

@media screen and (max-width: 450px) {
  .grid {
    padding: 0 5vw;
  }

  .skills {
    padding-top: -10vh;
  }
}

@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    padding-left: 15vw;
  }

  .grid-item {
    width: 70vw;
  }
}

/* end of skill section */
/* start of project section */
.section-tours {
  margin-top: -20rem;
  background-color: #f7f7f7;
  padding-top: 25rem;
}

@media (max-width: 56.25em) {
  .section-tours {
    padding: 25rem 0 10rem 0;
  }
}

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  font-size: 1.6rem;
  transition: background-color 0.3s linear, transform 0.5s linear;
}

.btn:hover {
  transform: translateY(-0.4rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
  color: white !important;
  background-color: rgba(246, 65, 108, 1) !important;
}

.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.21);
}

.btn--white {
  background-color: #fff;
  color: rgba(246, 65, 108, 0.8);
}

.btn--animated {
  animation: bottomIn 0.75s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #d5808e;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px #d5808e solid;
  padding: 3px;
}

.btn-text:hover {
  background-color: #64495E;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.21);
  transform: translateY(-2px);
}

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.21);
  transform: translateY(0px);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform .3s;
}

@media (max-width: 56.25em) {
  .feature-box {
    padding: 1rem;
    margin: 0 4rem;
  }
}

.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  background-image: linear-gradient(to right, #f6416c, #ffde7d);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 56.25em) {
  .feature-box__icon {
    margin-bottom: 0;
  }
}

.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.feature-box * {
  list-style: none;
}

/* projects section*/
#projects{
  margin: 10vh 5vw;
  text-align: center;
}
.project-head{
  margin: 5vh;
}
.text-center {
  text-align: center;
}

.py-3 {
  padding: 3rem 0;
}

.items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .items {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .items {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item {
  position: relative;
  background: linear-gradient(to right, #ffde7d, #f6416c);
  overflow: hidden;
  border: 2px solid #f6416c;
}
.btn-link{
  padding: 1rem 2rem;
  border: 2px solid white;
  border-radius: 2rem;
  color: white;
  transition: background 0.5s linear, border 0.5s linear;
}
.btn-link:hover{
  background: #f6416c;
  border: 2px solid #f6416c;
}
.item::after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
  transform: scale(1.2);
}

.item:hover .item-text {
  opacity: 1;
  transform: translateY(0);
}

.item-image {
  width: 100%;
  transform: translateZ(0);
  display: block;
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
  content: '';
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;
  line-height: 0;
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}

.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 2rem 0;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

/* Contact section */
.heading {
  padding-bottom: -10vw !important;
}

.contact-grid {
  padding: 0 8vw 0 8vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 2vw;
  justify-content: center;
}

.grid-item {
  text-align: center;
}

.coding-image {
  width: 70%;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

@media(max-width: 500px) {
  form {
    padding-bottom: 3rem;
  }

  .coding-image {
    padding-left: 20vw;
  }
}

.contact-links {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 4rem;
}

input[type="text"], input[type="email"], textarea, button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

input[type="text"], input[type="email"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

input[type="text"]:hover, input[type="email"]:hover, textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

@media(max-width: 768px) {
  textarea {
    height: 60px;
  }
}

button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #F04A68;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  transition: background 0.5s linear;
}

button[type="submit"]:hover {
  background: #FDCE00;
}

button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

input:focus, textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

/* Footer */
footer {
  font-weight: 300;
  padding: 4rem;
  background: #ECEFF1;
  text-align: center;
}

.foot {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4vw;
  justify-content: center;
}

footer>p {
  margin: 2rem;
}

.form>div>p {
  padding-bottom: 1rem;
}

.links>a {
  color: #23303B;
  padding: 10px;
  font-size: 2rem;
}

.links>a:hover {
  color: #F04A68;
}

.footer-text {
  color: #23303B;
  font-size: 1.5rem;
}

.text1 {
  text-align: right;
}

.text2 {
  text-align: left;
}

@media(max-width: 500px) {
  .text1, .text2 {
    text-align: center;
  }
}

.last-button {
  margin-top: 2rem;
}

.back-to-top {
  padding: 1rem 3rem;
  border: 2px solid #F04A68;
  /* background-color: #F9F3ED; */
  color: #F04A68;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 25px;
  transition: background-color 0.3s linear, color 0.3s linear;
}

.back-to-top:hover {
  background-color: #F7546D;
  color: white;
}

@media (max-width: 479px) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}
